.DS_Store
#ignore all files
*

#unignore all directories
!*/

#unignore all .cpp files
!*.cpp

#unignore all .hpp files
!*.hpp

#explicitly unignore run file (should be .sh extension but
#not showing in file explorer
!run